@import "tailwindcss";

@theme {
  --font-sans: var(--font-mono); 
}

/* KITA HAPUS WARNA DI SINI AGAR TIDAK BENTROK */
body {
  font-family: var(--font-mono);
  /* Hapus background-color dan color dari sini */
}

/* Custom Utilities untuk Scrollbar (Opsional, boleh disimpan) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #52525b; /* Zinc-600 */
  border-radius: 4px;
}